
.bacg {
  padding-left: 750px;
  padding-right: 750px;
}

.t1 {
  padding-left: 775px;
  padding-right: 775px;

}

.text1 {
  text-align: center;
  text-indent: 50px;
}

.click1 {
 align-content: center; 
  padding-left: 775px;
  padding-right: 775px;

}
