.pathanpfp {
display: flex;
justify-content: center;
}

.title {
  text-align: center;
}

.t3 {
 text-align: center;
}

.fakebtn {
  box-sizing: border-box;
}

.realbtn {
align-content: center;
}
